{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "67"
        },
        "useBuiltIns": "usage" //按需加载
      }
    ],
    "@babel/preset-react"
  ]
}
